<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Business Add</title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <!-- Header -->
            <form  th:object="${business}" th:action="@{/business/addSubmit}" method="get">
                <div class="addDiv col-md-6">
                    <div class="row">
                        <h2 th:if="${session.loggedInUser.userTypeCode == 1}" class="text-center">Add Business</h2><br/>
                        <h2 th:if="${session.loggedInUser.userTypeCode == 3}" class="text-center">Update Business</h2><br/>
                        <p th:if="${session.loggedInUser.userTypeCode == 3}" class="text-center" th:text="${message}"></p>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden"  name="id" th:field="${business.id}"/>
                                    <label>Business Name</label><br/>
                                    <input type="text"  name="name" th:field="${business.name}" maxlength="20"/><br/>
                                    <ul th:if="${#fields.hasErrors('name')}">
                                        <li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}">Business name is invalid</li>
                                    </ul><br/>
                                    <label>Username</label><br/>
                                    <input type="text" class="usernameInput"  name="username" th:field="${business.username}" maxlength="100"/><br/>
                                    <ul th:if="${#fields.hasErrors('username')}">
                                        <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}">Username is invalid</li>
                                    </ul><br/>
                                    <label>Phone Number</label><br/>
                                    <input type="text"  name="phoneNumber" th:field="${business.phoneNumber}" maxlength="20"/><br/>
                                    <ul th:if="${#fields.hasErrors('phoneNumber')}">
                                        <li class="error" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}">Phone Number is invalid</li>
                                    </ul><br/>
                                    <label>Website</label><br/>
                                    <input type="text"  name="website" th:field="${business.website}" maxlength="50"/><br/>
                                    <ul th:if="${#fields.hasErrors('website')}">
                                        <li class="error" th:each="err : ${#fields.errors('website')}" th:text="${err}">website is invalid</li>
                                    </ul><br/>
                                    <label>Confirm Letter Sent Date(yyyy-mm-dd)</label><br/>
                                    <input type="text"  name="confirmLetterSentDate" th:field="${business.confirmLetterSentDate}" maxlength="10"/><br/>
                                    <ul th:if="${#fields.hasErrors('confirmLetterSentDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('confirmLetterSentDate')}" th:text="${err}">invalid</li>
                                    </ul><br/>
                                      <label>Liability Idemnification Sent Date (yyyy-mm-dd)</label><br/>
                                    <input type="text"  name="liabilityIdemnificationSentDate" th:field="${business.liabilityIdemnificationSentDate}" maxlength="10"/><br/>
                                    <ul th:if="${#fields.hasErrors('liabilityIdemnificationSentDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('liabilityIdemnificationSentDate')}" th:text="${err}">invalid</li>
                                    </ul><br/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Number of Positions</label><br/>
                                    <input type="text" name="numberOfPositions" th:field="${business.numberOfPositions}" maxlength="10"/><br/>
                                    <ul th:if="${#fields.hasErrors('numberOfPositions')}">
                                        <li class="error" th:each="err : ${#fields.errors('numberOfPositions')}" th:text="${err}">Cover letter submit date is incorrect</li>
                                    </ul><br/>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-primary btn-lg center-block"  type="submit" value="Submit"/>
                    </div>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>