<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Title Here</title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container-fluid" >
                    <h2 th:text="#{application.name}">Application Name</h2><br/><br/>
                     <h1>Business import successful!</h1><br/>
                 
                    <a href="/about" th:href="@{/about}">Return to Main Page</a>
                    
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>