<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>All Businesses</title>
    </head>
    <body>
        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div  id="contentDiv" class="container" >            
            <!-- Header -->        
            <h2>Businesses</h2>
            <table  id="theData" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 50px;">Business ID</th>
                        <th style="width: 50px;">Business Name</th>
                        <th style="width: 75px;">UserName</th>
                        <th style="width: 75px;">Phone Number</th>
                        <th style="width: 75px;">Website</th>
                        <th style="width: 75px;">Number of Positions</th>
                        <th style="width: 75px;">Idmnification</th>
                        <th style="width: 75px;">Confirm Letter</th>
                        <th style="width: 90px;">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="business : ${businesses}">
                        <td th:text="${business.id }"></td>
                        <td th:text="${business.name}"></td>
                        <td th:text="${business.username}"></td>
                        <td th:text="${business.phoneNumber}"></td>
                        <td th:text="${business.website}"></td>
                        <td th:text="${business.numberOfPositions}"></td>
                        <td th:text="${business.confirmLetterSentDate}"></td>
                        <td th:text="${business.liabilityIdemnificationSentDate}"></td>
                        <td><a  th:if="${session.loggedInUser.userTypeCode == 1}" class="btn btn-primary btn-lg"  th:href="@{/business/delete(id=${business.id})}">Delete</a>
                            <a class="btn btn-primary btn-lg" th:href="@{/business/update(id=${business.id})}">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>    
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>