<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div id="topBar" class="navbar">
            <div class="container-fluid cisis">
                <a th:href="@{/}"><img id="logo" style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                                       src="../../../resources/images/logoHeader.png" /></a><h1><span th:text="#{organization.name}">Organization Name</span><small th:text="#{application.name}" >Application Name</small></h1>
            </div>

            <div class="navbar-inner" th:if="${session.loggedInUser != null and session.loggedInUser.userTypeCode > 0}">
                <div>
                    <ul class="nav">
                        <li th:if="${session.loggedInUser.userTypeCode != 2}" class="dropdown" id="menuResources">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                                <span class="glyphicon glyphicon-th-list"  th:text='#{menu.business}'></span>&nbsp;
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li th:if="${session.loggedInUser.userTypeCode == 1}"><a href="/help" th:href="@{/business/list}"><i class="icon-th-list"></i>Show businesses</a></li>                            
                                <li th:if="${session.loggedInUser.userTypeCode == 1}"><a href="/help" th:href="@{/business/add}"><i class="icon-th-list"></i>Add business</a></li>    
                                <li th:if="${session.loggedInUser.userTypeCode == 3}"><a href="/help" th:href="@{/business/list}"><i class="icon-th-list"></i>Show Your Business</a></li>   
                                <li th:if="${session.loggedInUser.userTypeCode == 1}"><a href="/help" th:href="@{/business/report}"><i class="icon-th-list"></i>View Report</a></li>   
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav">
                        <li th:if="${session.loggedInUser.userTypeCode != 3}" class="dropdown" id="menuResourcesStudent">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesStudent">
                                <span class="glyphicon glyphicon-th-list" th:text='#{menu.student}'></span>&nbsp;
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li th:if="${session.loggedInUser.userTypeCode == 1}"><a href="/help" th:href="@{/student/list}"><i class="icon-th-list"></i>Show students</a></li>
                                <li th:if="${session.loggedInUser.userTypeCode == 2}"><a href="/help" th:href="@{/student/updateself}"><i class="icon-th-list"></i>Student Update</a></li>   
                                <li th:if="${session.loggedInUser.userTypeCode == 1}"><a href="/help" th:href="@{/student/add}"><i class="icon-th-list"></i>Add student</a></li>
                                <li th:if="${session.loggedInUser.userTypeCode == 1}"><a href="/help" th:href="@{/student/subreport}"><i class="icon-th-list"></i>Submission Report</a></li>                             
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav">
                        <li th:if="${session.loggedInUser.userTypeCode == 1}" class="dropdown" id="menuResourcesPlacement">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesPlacement">
                                <span class="glyphicon glyphicon-th-list" th:text='#{menu.placement}'></span>&nbsp;
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/help" th:href="@{/placement/list}"><i class="icon-th-list"></i>Show placements</a></li>                            
                                <li><a href="/help" th:href="@{/placement/add}"><i class="icon-th-list"></i>Add placement</a></li>
                                <li><a href="/help" th:href="@{/placement/studentPlacementReport}"><i class="icon-th-list"></i>Student Placement Report</a></li>
                                <li><a href="/help" th:href="@{/placement/businessPlacementReport}"><i class="icon-th-list"></i>Business Placement Report</a></li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="nav">
                        <li th:if="${session.loggedInUser.userTypeCode == 1}" class="dropdown" id="menuResourcesUtil">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesUtil">
                                <span class="glyphicon glyphicon-th-list" th:text='#{menu.utility}'></span>&nbsp;
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/student/studentcsv}"><i class="icon-th-list"></i>Import students-1.3</a></li>                            
                                <li><a href="#" th:href="@{/business/businesscsv}"><i class="icon-th-list"></i>Import business-2.3</a></li>                            
                                <li><a href="#" th:href="@{/placement/export}"><i class="icon-th-list"></i>Export Placements-3.3</a></li>                            
                            </ul>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/api" th:href="@{/api}"><i class="icon-question-sign"></i>&nbsp;<span>API</span></a></li>
                        <li class="divider"></li>
                        <li><a href="/help" th:href="@{/help}"><i class="icon-question-sign"></i>&nbsp;<span th:text="#{label.help}">Help</span></a></li>
                        <li class="divider"></li>
                        <li><a href="/about" th:href="@{/about}"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;<span th:text="#{label.about}">About</span></a></li>
                        <li class="divider"></li>
                        <li th:if="${session.loggedInUser.userTypeCode != 0}"><a href="/logout" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;<span th:text="#{label.logout}">Logout</span></a></li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- note that the th:if below will stop the empty tags from appearing in the html if no message provided. -->
        <p th:if="${not #strings.isEmpty(errorMessage)}" class="error" th:text="${errorMessage}"></p>
        <p th:if="${not #strings.isEmpty(notificationMessage)}"  class="notification" th:text="${notificationMessage}"></p>

    </body>

</html>