<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
          
    <head><title></title></head>
    <body>
        <div id="footer" class="cisis" ><p class="text-center footerText" th:text="#{application.name}">App Name</p>
        </div>
    </body>
</html>