<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Student Add</title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <!-- Header -->
            <form  th:object="${student}" action="addSubmit (Not used)" th:action="@{/student/addSubmit}" method="get">
                <div class="addDiv col-md-6 col-sm-6 col-lg-6">
                    <div class="row">
                        <h2 class="text-center">Add Student</h2><br/>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden"  name="id" th:field="${student.id}"/>
                                    <label>Student ID</label><br/>
                                    <input type="text"  name="studentId" th:field="${student.studentId}" maxlength="5"/><br/>
                                    <ul th:if="${#fields.hasErrors('studentId')}">
                                        <li class="error" th:each="err : ${#fields.errors('studentId')}" th:text="${err}">Student ID is invalid</li>
                                    </ul><br/>
                                    <label>Username</label><br/>
                                    <input type="text" class="usernameInput"  name="username" th:field="${student.username}" maxlength="100"/><br/>
                                    <ul th:if="${#fields.hasErrors('username')}">
                                        <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}">Username is invalid</li>
                                    </ul><br/>
                                    <label>First Name</label><br/>
                                    <input type="text"  name="firstName" th:field="${student.firstName}" maxlength="20"/><br/>
                                    <ul th:if="${#fields.hasErrors('firstName')}">
                                        <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">First name is incorrect</li>
                                    </ul><br/>
                                    <label>Last Name</label><br/>
                                    <input type="text"  name="lastName" th:field="${student.lastName}" maxlength="50"/><br/>
                                    <ul th:if="${#fields.hasErrors('lastName')}">
                                        <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">last name is incorrect</li>
                                    </ul><br/>
                                    <label>Phone Number</label><br/>
                                    <input type="text"  name="phoneNumber" th:field="${student.phone}" maxlength="10"/><br/>
                                    <ul th:if="${#fields.hasErrors('phone')}">
                                        <li class="error" th:each="err : ${#fields.errors('phone')}" th:text="${err}">Phone number is invalid</li>
                                    </ul><br/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Cover Letter Submitted(yyyy-mm-dd)</label><br/>
                                    <input type="text" name="coverLetterSubmittedDate" th:field="${student.coverLetterSubmittedDate}" maxlength="10"/><br/>
                                    <ul th:if="${#fields.hasErrors('coverLetterSubmittedDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('coverLetterSubmittedDate')}" th:text="${err}">Cover letter submit date is incorrect</li>
                                    </ul><br/>
                                    <label>Resume Submitted(yyyy-mm-dd)</label><br/>
                                    <input type="text" name="ResumeSubmitDate" th:field="${student.resumeSubmittedDate}" maxlength="10"/><br/>
                                    <ul th:if="${#fields.hasErrors('resumeSubmittedDate')}">
                                        <li class="error" th:each="err : ${#fields.errors('resumeSubmittedDate')}" th:text="${err}">Resume submit date is incorrect</li>
                                    </ul><br/>
                                    <label>Resume Location</label><br/>
                                    <textarea  name="resumeLocation" th:field="${student.resumeLocation}" maxlength="100"/><br/>
                                    <ul th:if="${#fields.hasErrors('resumeLocation')}">
                                        <li class="error" th:each="err : ${#fields.errors('resumeLocation')}" th:text="${err}">Resume location is incorrect</li>
                                    </ul><br/>
                                    <label>Preferred Type of Work</label><br/>
                                    <textarea  name="preferredTypeOfWork" th:field="${student.preferredTypeOfWork}" maxlength="140"/><br/>
                                    <ul th:if="${#fields.hasErrors('preferredTypeOfWork')}">
                                        <li class="error" th:each="err : ${#fields.errors('preferredTypeOfWork')}" th:text="${err}">Preferred type of work is incorrect</li>
                                    </ul><br/><br/>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-primary btn-lg center-block"  type="submit" value="Submit"/>
                    </div>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>