<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Title Here</title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <h2>Cover Letter and Resume Submission Report</h2>
           <table id="theData" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">Student Id</th>
                            <th style="width: 75px;">Last Name</th>
                            <th style="width: 75px;">First Name</th>
                            <th style="width: 100px;">Cover Letter Submitted Date</th>                            
                            <th style="width: 100px;">Resume Submitted Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">

                            <td th:text="${student.studentId}"></td>
                            <td th:text="${student.firstName}"></td>
                            <td th:text="${student.lastName}"></td>
                            <td th:text="${student.coverLetterSubmittedDate}"></td>
                            <td th:text="${student.resumeSubmittedDate}"></td>
                        </tr>
                    </tbody>
                </table>    
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>