<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placement Add</title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >  
            
            <!-- Header -->
            <form  th:object="${placement}" action="addSubmit (Not used)" th:action="@{/placement/addSubmit}" method="get">
                <div class="addDiv col-md-3">
                    <h2 class="text-center">Add Placement</h2><br/>
                    <input type="hidden"  name="id" th:field="${placement.id}"/>
                    <br/>
                    Pick a student
                    <select th:field = "${placement.studentId}">
                        <option value= "disabled selected">Please Choose a Student...</option>
                        <option th:each="student : ${session.students}" 
                        th:value="${student.id}" 
                        th:text="${student.firstName + ' ' + student.lastName}" >Student</option>
                    </select><br/>
                    <br/>
                    <select th:field = "${placement.businessId}">
                        <option value= "disabled selected">Please Choose a Business...</option>
                        <option th:each="business : ${session.businesses}" 
                        th:value="${business.id}" 
                        th:text="${business.name}" >Business</option>
                    </select><br/>
                    <label>Notes</label><br/>
                    <textarea  name="notes" th:field="${placement.notes}" maxlength="100"/><br/>
                    <br/>
                    <label>Placement Date</label><br/>
                    <input type="text" name="placementDate" placeholder="${placement.placementDate}" th:field="${placement.placementDate}" maxlength="100"/><br/>
                   
                    <input class="btn btn-primary btn-lg center-block"  type="submit" value="Submit"/>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>