<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Business Placement Report </title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <h2>Businesses Without Placements Report</h2>
           <table id="theData" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 75px;">Business Id</th>
                            <th style="width: 75px;">Business</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="business : ${businesses}">
                            <td th:text="${business.businessId}"></td>
                            <td th:text="${business.businessName}"></td>
                        </tr>
                    </tbody>
                </table>    
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>