<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Title Here</title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >  
            <h2 class="text-center">Show Placements</h2><br/>
            <!-- Header -->
           <table id="theData" class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th style="width: 50px;">Student First Name</th>
                            <th style="width: 50px;">Student Last Name</th>
                            <th style="width: 75px;">Business Name</th>
                            <th style="width: 75px;">Placement Date</th>
                            <th style="width: 75px;">Notes</th>
                            <th style="width: 75px;">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr th:each="placement : ${placements}">
                        
                            <td th:text="${placement.studentFirstName}"></td>
                            <td th:text="${placement.studentLastName}"></td>
                            <td th:text="${placement.businessName}"></td>
                            <td th:text="${placement.placementDate}"></td>
                            <td th:text="${placement.notes}"></td>
                            <td><a class="btn btn-primary btn-lg"  th:href="@{/placement/delete(id=${placement.placementId})}">Delete</a></td>
                            
                        </tr>
                        <tr th:each="business : ${businesses}">
                            <td th:text="${business}"></td> 
                        </tr>
                    </tbody>
                </table>    
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>