<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Student Placement Report </title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <h2>Students Without Placements Report</h2>
           <table id="theData" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 75px;">Student Id</th>
                            <th style="width: 75px;">First Name</th>
                            <th style="width: 75px;">Last Name</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr th:each="placement : ${placements}">
                            <td th:text="${placement.studentId}"></td>
                            <td th:text="${placement.studentFirstName}"></td>
                            <td th:text="${placement.studentLastName}"></td>
                            
                        </tr>
                    </tbody>
                </table>    
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>