
.containerBack{
    background: none;
}

#contentDiv{
    margin-top: 40px;
    background: none;
    box-shadow: none;  
    margin-bottom: 30px;
    
}

#contentDiv > form:nth-child(1) > div:nth-child(1){
     background: none;
}

.borderBlack{
    border: 1px black solid;
}

input{
  box-shadow: 1px 1px 1px black !important;  
}

select{
  box-shadow: 1px 1px 1px black !important;
  color: black !important;
}


#logo{
    margin: 4px;
    width: 50px;
    border: 1px black solid;
}

textarea{
    resize: none;
    width: 205px;
    height: 71px;
    box-shadow: 1px 1px 1px black !important;  
    color:black !important;
}

.usernameInput{
    margin-left: -2px !important;
}

.addDiv{
    margin-top:80px;
    color: white;
    float: none !important;
    left:0 !important;
    right:0 !important;
    margin-left:auto !important;
    margin-right:auto !important;
    background-color: #7B3F00 !important;
    padding: 10px !important;
    border: 1px black solid ;
    box-shadow: 1px 1px 10px black,1px 1px 10px black;
    text-shadow: 1px 1px 3px black;
}
.addDiv label{
    text-shadow: 1px 1px 3px black !important;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle{
 background: url("../images/gradient.jpg") !important;
 background-size: contain !important;
}


.colStyleLogin{
  margin-top: 180px;
  padding: 10px;
  background-color: #7B3F00 !important;
  color: white;
  border: 1px black solid;  
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
}


/** These two items are the shadowing on the logo **/
div.cisis:nth-child(1) > h1:nth-child(2) > span:nth-child(1){
    text-shadow: 1px 1px 1px white;
}

div.cisis:nth-child(1) > h1:nth-child(2) > small:nth-child(2){
    text-shadow: 1px 1px 1px black;
}
/***************************************************/

div{
    background:none!important;
}

.addDivMargin{
    margin-top: 101px !important;
}

#topBar{
    z-index: 2;
    margin: 0;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:72px;
    border: 1px solid #7B3F00;
    border-radius:0;
    box-shadow: 1px 0 10px black;
}

label{
    text-shadow: 1px 1px 1px dimgrey;
}

#theData{
    margin:0;
    padding:0;
    margin-bottom: 20px;
    background-color: #7B3F00;
    border: 1px dimgrey solid;
    box-shadow: 1px 1px 5px black;
}

#username{
    margin-left: 10px;
}
#password{
    margin-left: 0;
    height: 25px !important;
}

#theData a:link{
    background-color: #7B3F00;
}
#theData a:visited{
   border-color: #7B3F00;
}

#theData a:hover{
   border-color: #7B3F00;
}
#theData a:active{
   border-color: #7B3F00;
}

#theData_paginate a:link{
    background-color: #7B3F00;
    color:white;
    border: 1px black solid;
    text-shadow: 1px 1px 3px black;
}

#theData_info{
    text-shadow: 1px 1px 1px dimgrey;
}

tr:nth-child(2n+2){
    background-color: silver;
}

th{
   color:white;
   text-shadow: 1px 1px 3px black;
   border: 1px black solid !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7B3F00 !important;
    color: white !important;
    box-shadow: 1px 1px 3px black !important;
    border: 1px black solid !important;
    text-shadow: 1px 1px 3px black;
}

#footer{
    box-shadow: -1px -1px 10px black;
    background-color: #7B3F00 !important;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
}

.container-images {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    float: left;
    display: block;
}

.nospace {
    font-size: 0;
}


.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
    margin-right: 10px;
}

.navbar-inner{
 z-index: -1;
 margin: 0;
 border-radius:0;
 box-shadow: 1px 1px 10px black;
 width:100%;
 background: url("../images/gradient.jpg") !important;
 background-size: contain !important;
 border:0;
 
}

.glyphicon{
    color: black;
}
.navbar .nav  > li > a{
    color: #000000;
}

span{
    color:black;
}

.form-horizontal .control-label {
    text-align: left;
}

.container {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    background-color: #FFFFFF;

}

.container-images {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    float: left;
    display: block;
}

.nospace {
    font-size: 0;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
    margin-right: 10px;
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.form-horizontal .control-label {
    text-align: left;
}

.backgroundColor{
    background-color: #7B3F00;
}

.cisis {
    /*    background-color: #3fd700;*/
    background-color: #7B3F00 !important;
    vertical-align: middle;
    margin:0;
}

.error {
    color: red; font-weight: bold;
}

.notification {
    color: green; font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

table {
    border-collapse: collapse;
}

tr {
    tr:hover {background-color: #f5f5f5};
}

table, th, td {
    border: 1px solid black;
    padding: 1em;
}

.holeSelect {
    width: 6em;
    text-align: center;
}
.cislabel {
    text-align: center;
    margin-top: 20px;
}

.ciskey {
    font-size: 1.5em;
    color: #0857e0;
}
.ciskeylarge {
    font-size: 2.5em;
    color: #0857e0;
}
.ciskeydiv {
    background: #ccd7ea;
}

.cis-big-button {
    width: 100%;
    height: 5em;
    
}

.cis-select-no-entry {
    background-color: #ccd7ea;
}


body {
    background: url("../images/back.jpg") !important;
    background-color: #FFFFFF !important;
    margin: 0;
    padding:0;
}
div {
    background-color: #FFFFFF;
}
select option:selected {
  background-color: yellow !important;
} 

.navbar{
    margin:0;
    background: url("../images/gradient.jpg") !important;
    background-size: contain !important;
}

.imgStyle{
    width: 400px;
    border: 1px black solid;
}

.footerText{
    color:white !important;
    text-shadow: 1px 1px 3px black !important;
}