<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Title Here</title>
    </head>
    <body>

        <div class="navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container-fluid" >
                    <h1 th:text="#{application.name}">Application Name</h1>  
                    <br />
                    <h2>This site was created by:</h2>
                    <h4>Darcy Brown: Student Administrator </h4>
                    <h4>Jennifer Townsend: Placement(admin) Administrator</h4>
                    <h4>Nick Peconi: Business Administrator</h4>
                    <br />

                </div>
                <div class="container-fluid" >
                    <h1>Link to api services</h1>  
                    <h4><a href="http://hccis.info:8080/ojt/rest/api" target="_blank">http://hccis.info:8080/ojt/rest/api</a></h4>
                    <br />
                    <h1>Services available</h1>
                    <h2>StudentService</h2>
                    <p>Get all students</p>
                    <p>example:   <a target="_blank" href="http://hccis.info:8080/ojt/rest/StudentService/students">http://hccis.info:8080/ojt/rest/StudentService/students</a></p>
                    <p>Get a particular student</p>
                    <p><a target="_blank" href="http://hccis.info:8080/ojt/rest/StudentService/students/jsmith@hollandcollege.com">http://hccis.info:8080/ojt/rest/StudentService/students/jsmith@hollandcollege.com</a></p>
                    <h2>BusinessService</h2>
                    <p>Get all businesses</p>
                    <p><a target="_blank" href="http://hccis.info:8080/ojt/rest/BusinessService/businesses">http://hccis.info:8080/ojt/rest/BusinessService/businesses</a></p>
                    <p>Get a particular business /business/business/name</p>
                    <p><a target="_blank" href="http://hccis.info:8080/ojt/rest/BusinessService/business/Holland+College">http://hccis.info:8080/ojt/rest/BusinessService/business/Holland+College</a></p>
                    <h2>PlacementService</h2>
                    <p><a target="_blank" href="http://hccis.info:8080/ojt/rest/PlacementService/placements">http://hccis.info:8080/ojt/rest/PlacementService/placements</a></p>
                    <p>Get businesses without OJT students  /placementBusiness</p>
                    <p><a target="_blank" href="http://localhost:8080/ojt/rest/PlacementService/placementBusiness">http://localhost:8080/ojt/rest/PlacementService/placementBusiness</a></p>
                    <h2>UserService</h2>
                    <p>Login user (returns user object as json) /user/userName/hashedPassword</p>
                    <p><a target="_blank" href="http://hccis.info:8080/ojt/rest/UserService/users/bmaclean/202cb962ac59075b964b07152d234b70">http://hccis.info:8080/ojt/rest/UserService/users/bmaclean/202cb962ac59075b964b07152d234b70</a></p>
                    <p>Get all users  /users</p>
                    <p><a target="_blank" href="http://hccis.info:8080/ojt/rest/UserService/users">http://hccis.info:8080/ojt/rest/UserService/users</a></p>

                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>