<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <!-- Header -->
            <form>
                <div >
                    <h2 th:text="#{application.name}">App Name</h2>                    
                    <p>If you require assitance with this site, please contact: Darcy Brown, Jennifer Townsend, or Nicholas Peconi at Holland College, Computer Information System's program.</p>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>