<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div id="contentDiv" class="container" >            
            <!-- Header -->
            <form  th:object="${user}" action="(Not used)" th:action="@{/authenticate}" method="post">
                <div class="container" >
                    <h2>Canes Camps - Information</h2>                    
                    <br/>
                    <p class="error" th:text="${message}"></p>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>