<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title th:text="#{application.name}">App name here</title>
    </head>
    <body>
        <div id="contentDiv">   
            <div id="topBar" class="navbar" >
                <div th:include="fragments/bodyHeader" th:remove="tag">
                </div>
            </div>

            <div class="colStyleLogin text-center col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> 
                <!-- Header -->
                <form  th:object="${user}" action="(Not used)" th:action="@{/authenticate}" method="post">
                        <img class="imgStyle" th:src="@{/resources/images/applicationImage.jpg}" src=".....placeholder.jpg" alt="image"
                             width="50%"></img>
                        <!-- Login credentials-->
                        <br/>
                        <hr/>
                        <p><span th:text="#{username}">Username</span><br/><label for="username"></label><input id="username" type="text" th:field="${user.username}" maxlength="100"/></p>
                        <p><span th:text="#{password}">Password</span><br/><label for="password"></label><input id="password" type="password" th:field="${user.password}" maxlength="100"/></p>
                        <p><button class="btn btn-primary btn-lg" type="submit" th:text="#{label.login}">Login</button></p>
                </form>
                <div id="footer">
                    <div th:include="fragments/footer" th:remove="tag">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>